<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, @category.collect { |record| [record.name, record.id] } %>
  </div>


  <%= f.hidden_field :user_id, :value => current_user.id %>    
  <%= f.hidden_field :status, :value => "NO ATENDIDO" %>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
