<h1>Listado Tickets</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Descripci&oacute;n</th>
    <th>Status</th>
    <th>Categor&iacute;a</th>
    <th>Prioridad</th>
    <th>T&eacute;cnico</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.user.firstname %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.category %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.technician %></td>
    <td><%= link_to 'Mostrar', ticket %></td>
    <td><%= link_to 'Editar', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Eliminar', ticket, confirm: '¿Estás seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nuevo Ticket', new_ticket_path %>
