<h1>Listing assignations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignation_user.each do |assignation| %>
  <tr>
    <td><%= assignation.user_id %></td>
    <td><%= assignation.category_id %></td>
    <td><%= link_to 'Show', assignation %></td>
    <td><%= link_to 'Edit', edit_assignation_path(assignation) %></td>
    <td><%= link_to 'Destroy', assignation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignation', new_assignation_path %>
