<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @assignation.user_id %>
</p>

<p>
  <b>Categor&iacute;a:</b>
  <%= @assignation.category_id %>
</p>


<%= link_to 'Editar', edit_assignation_path(@assignation) %> |
<%= link_to 'Regresar', assignations_path %>
